

<link rel="stylesheet" href="/stylesheets/style1.css">
<%- include('layout') %> 

<div class="center">
    <p><b>URL Shortener is a free tool to shorten URLs and generate short links. URL shortener allows you to create a shortened link, making it easy to share.</b></p>
</div>


<!-- <a href="/" type="button" class="btn btn-outline-dark mt-2"><b>URL Shortener is a free tool to shorten URLs and generate short links
    URL shortener allows to create a shortened link making it easy to share</b></a> -->





