<%- include('layout') %>


  <div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                       
                
                
                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs-T7V26UyWM6mpZDvYpbfe2Y0y8t00nFFdg&s" alt=""> -->
                <div class="text">
                    
                </div>
                
            </div>

            <div class="col-md-6 right">
                
                <div class="input-box">
                    
                   <header>Login user</header>

                   <form action="/login" method="post">


                   
                  
                   <div class="input-field">
                    <input type="email" name="email" class="input" id="exampleInputPassword1"  required="" autocomplete="off">
                    <label for="exampleInputPassword1">Email</label>
                       
                    </div> 
                   <div class="input-field">
                    
            <input type="password" name="password" class="input" id="exampleInputPassword1"
              required="">
              <label for="exampleInputPassword1">Password</label>
              
                    </div> 
                   <div class="input-field">
                        
                        <input type="submit" class="submit" value="login">
                   </div> 
                   <div class="signin">
                    <span>Don't have an account? <a href="/">Sign in here</a></span>
                   </div>
                </div>  
            </div>
        </div>
    </div>
</div>
</form>
